# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files("data/song_data")

In [5]:
filepath = song_files[0]

In [6]:
df = pd.read_json(filepath, typ='series')

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [7]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']]
print(song_data)
# song_data = [x for x in song_data.values]

song_id      SOMZWCG12A8C13C480
title          I Didn't Mean To
artist_id    ARD7TVE1187B99BFB1
year                          0
duration                218.932
dtype: object

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
for i, row in song_data.iterrows():
    cur.execute(song_table_insert, row)
    conn.commit()

AttributeError: 'Series' object has no attribute 'iterrows'

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']]
# artist_data = [a for a in artist_data.values]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
for i, row in artist_data.iterrows():
    cur.execute(artist_table_insert, row)
    conn.commit()

AttributeError: 'Series' object has no attribute 'iterrows'

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [11]:
log_files = get_files("data/log_data")

In [12]:
filepath = log_files[0]
filepath

'/home/workspace/data/log_data/2018/11/2018-11-30-events.json'

In [13]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [14]:
df = df.loc[df['page'] == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Stephen Lynch,Logged In,Jayden,M,0,Bell,182.85669,free,"Dallas-Fort Worth-Arlington, TX",PUT,NextSong,1.540992e+12,829,Jim Henson's Dead,200,1543537327796,Mozilla/5.0 (compatible; MSIE 10.0; Windows NT...,91
1,Manowar,Logged In,Jacob,M,0,Klein,247.56200,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Shell Shock,200,1543540121796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
2,Morcheeba,Logged In,Jacob,M,1,Klein,257.41016,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Women Lose Weight (Feat: Slick Rick),200,1543540368796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
3,Maroon 5,Logged In,Jacob,M,2,Klein,231.23546,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Won't Go Home Without You,200,1543540625796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Train,Logged In,Jacob,M,3,Klein,216.76363,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,1049,Hey_ Soul Sister,200,1543540856796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73

In [15]:
t = pd.to_datetime(df['ts']/1000, unit='s')
t.head()

0   2018-11-30 00:22:07.796000004
1   2018-11-30 01:08:41.796000004
2   2018-11-30 01:12:48.796000004
3   2018-11-30 01:17:05.796000004
4   2018-11-30 01:20:56.796000004
Name: ts, dtype: datetime64[ns]

In [16]:
time_data = [df['ts'], t.dt.hour, t.dt.day, t.dt.week, t.dt.month, t.dt.year, t.dt.weekday]
column_labels = ['start_time', 'hour', 'day', 'week', 'month', 'year', 'weekday']

In [17]:
time_df = pd.DataFrame({column_labels[i]: time_data[i] for i in range(len(column_labels))} )
time_df.head()

        start_time  hour  day  week  month  year  weekday
0    1543537327796     0   30    48     11  2018        4
1    1543540121796     1   30    48     11  2018        4
2    1543540368796     1   30    48     11  2018        4
3    1543540625796     1   30    48     11  2018        4
4    1543540856796     1   30    48     11  2018        4
5    1543541072796     1   30    48     11  2018        4
6    1543541299796     1   30    48     11  2018        4
7    1543541520796     1   30    48     11  2018        4
9    1543541897796     1   30    48     11  2018        4
10   1543541993796     1   30    48     11  2018        4
11   1543542250796     1   30    48     11  2018        4
12   1543542516796     1   30    48     11  2018        4
13   1543542628796     1   30    48     11  2018        4
14   1543542935796     1   30    48     11  2018        4
15   1543543268796     2   30    48     11  2018        4
16   1543543524796     2   30    48     11  2018        4
17   1543543821796     2   30    48     11  2018        4
18   1543544154796     2   30    48     11  2018        4
19   1543544359796     2   30    48     11  2018        4
23   1543547190796     3   30    48     11  2018        4
24   1543547430796     3   30    48     11  2018        4
25   1543547583796     3   30    48     11  2018        4
26   1543547741796     3   30    48     11  2018        4
27   1543548069796     3   30    48     11  2018        4
30   1543548563796     3   30    48     11  2018        4
31   1543548766796     3   30    48     11  2018        4
33   1543549044796     3   30    48     11  2018        4
35   1543549171796     3   30    48     11  2018        4
36   1543549468796     3   30    48     11  2018        4
38   1543549790796     3   30    48     11  2018        4
..             ...   ...  ...   ...    ...   ...      ...
356  1543600185796    17   30    48     11  2018        4
357  1543600424796    17   30    48     11  2018        4
358  1543600483796    17   30    48     11  2018        4
359  1543600644796    17   30    48     11  2018        4
360  1543600723796    17   30    48     11  2018        4
361  1543600999796    18   30    48     11  2018        4
362  1543601063796    18   30    48     11  2018        4
363  1543601287796    18   30    48     11  2018        4
364  1543601401796    18   30    48     11  2018        4
365  1543601616796    18   30    48     11  2018        4
366  1543601696796    18   30    48     11  2018        4
367  1543601780796    18   30    48     11  2018        4
368  1543601943796    18   30    48     11  2018        4
369  1543601973796    18   30    48     11  2018        4
370  1543602079796    18   30    48     11  2018        4
371  1543602106796    18   30    48     11  2018        4
372  1543602245796    18   30    48     11  2018        4
373  1543602372796    18   30    48     11  2018        4
374  1543602488796    18   30    48     11  2018        4
375  1543602542796    18   30    48     11  2018        4
376  1543602694796    18   30    48     11  2018        4
377  1543602766796    18   30    48     11  2018        4
378  1543602919796    18   30    48     11  2018        4
380  1543602985796    18   30    48     11  2018        4
381  1543603162796    18   30    48     11  2018        4
382  1543603205796    18   30    48     11  2018        4
383  1543603476796    18   30    48     11  2018        4
384  1543603678796    18   30    48     11  2018        4
385  1543603884796    18   30    48     11  2018        4
387  1543607664796    19   30    48     11  2018        4

[330 rows x 7 columns]

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [19]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]
user_df.drop_duplicates(inplace=True)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [20]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [23]:
for index, row in df.iterrows():
    print(song_select)
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # insert songplay record
#     songplay_data = df[songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent]
    songplay_data = [ index, row['ts'], row['userId'], row['level'], songid, artistid, row['sessionId'], row['location'], row['userAgent']]
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

    SELECT s.song_id, s.artist_id
    FROM songs s
    INNER JOIN artists ON s.artist_id = artists.artist_id
    WHERE s.title = %s
    AND name = %s
    AND s.duration = %s

NameError: name 'song_id' is not defined

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.